<div class="welcome-container">
  <div class="hero">
    <h1>Bienvenido a ThreatWatch</h1>
    <p>Explora tus archivos y detecta amenazas en segundos</p>
    <div class="buttons">
      <a routerLink="/login" class="btn btn-login">Login</a>
      <a routerLink="/register" class="btn btn-register">Register</a>
    </div>
  </div>

  <div class="skills-section">
    <h2>Un poco del stack utilizado...</h2>
    <div class="skills-cards">
      <div class="card">Angular</div>
      <div class="card">TypeScript</div>
      <div class="card">Docker</div>
      <div class="card">RabbitMQ / Redis</div>
      <div class="card">HTML5 & CSS3</div>
      <div class="card">FastAPI / Python</div>
    </div>
  </div>
</div>
