<div class="auth-container">
  <div class="auth-card">
    <h2>Crear cuenta</h2>
    <form (ngSubmit)="onRegister()" #registerForm="ngForm">
      <input type="text" placeholder="Nombre completo" name="username" [(ngModel)]="username" required>
      <input type="email" placeholder="Email" name="email" [(ngModel)]="email" required>
      <input type="password" placeholder="Contraseña" name="password" [(ngModel)]="password" required>
      <button type="submit" class="btn btn-register" [disabled]="!registerForm.valid">Registrarse</button>
    </form>
    <p>¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a></p>
  </div>
</div>
